.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navbar_wrapper a {
  color: whitesmoke;
  padding-left: 20px;

}
.tbl{
  padding: 20px;
}
.form {
  padding: 20px;
  align-items: center;
  max-width: 50%;
}

input {
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles.css */

.home-container {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.new-question-input {
  width: 80%;
  margin-bottom: 10px;
}

.add-question-btn {
  background-color: #343a40;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
}

.question-container {
  margin-top: 20px;
}

.answer-item {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.reply-item {
  margin-top: 5px;
  font-style: italic;
  color: #555;
}

.reply-input {
  width: 50%;
  margin-top: 5px;
}

.answer-input {
  width: 80%;
  margin-top: 10px;
}

.update-question-input {
  width: 80%;
  margin-top: 10px;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
}

